* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  background: #003be5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carrinho {
  color: white;
  font-size: 25px;
  position: relative;
}

.carrinho:hover {
  transform: scale(1.1);
}

.quanty {
  position: absolute;
  background-color: rgba(47, 193, 140, 1);
  height: 24px;
  width: 24px;
  font-size: 20px;
  text-align: center;
  padding: 3px;
  border-radius: 50%;
  color: aliceblue;
  top: -12%;
  left: 50%;
}
.carIcon{
  height: 44px;
  width: 40px;
}

.productCateg {
  display: flex;
}

.prod-parag {
  align-self: center;
}

.productList {
  display: flex;
  flex-direction: column;
}

.product {
  border: 1px solid black;
}

.category {
  align-items: flex-end;
  background: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: 1cm;
  top: 101px;
  width: 310px;
}